[tool.poetry]
name = "malariagen_data"
version = "7.0.5"
description = "A package for accessing and analysing MalariaGEN data."
authors = [
    "Alistair Miles <alistair.miles@sanger.ac.uk>",
    "Chris Clarkson <cc28@sanger.ac.uk>",
    "Lee Hart <lee.hart@sanger.ac.uk>",
    "Kathryn Murie <km22@sanger.ac.uk>",
    "Nace Kranjc <n.kranjc@imperial.ac.uk>",
    "Kelly Bennett <kb25@sanger.ac.uk>",
    "Sanjay Nagi <sanjay.nagi@lstmed.ac.uk>",
]
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.7.1,<3.11"
numpy = "*"
scipy = "*"
# https://github.com/python-poetry/poetry/issues/5121
# manually specify pandas version ranges to avoid poetry getting badly stuck
# on dependency resolution
pandas = [
    {version="<1.4", python=">=3.7.1,<3.8"},
    {version="*", python=">=3.8,<3.11"}
]
zarr = "*"
dask = {version="*", extras=["array"]}
fsspec = "*"
gcsfs = "*"
BioPython = "*"
scikit-allel = "*"
xarray = "*"
numba = "*"
plotly = "*"
bokeh = "*"
statsmodels = "*"
# 0.17.0 appears to be broken on colab
ipyleaflet = ">0.17.0"
ipywidgets = "*"
# https://stackoverflow.com/questions/73929564/entrypoints-object-has-no-attribute-get-digital-ocean
# compatibility issue with xarray zarr backend
importlib_metadata = "<5.0"
# https://github.com/malariagen/malariagen-data-python/issues/299
# bug in ipinfo 4.4.1
ipinfo = "!=4.4.1"
igv-notebook = ">=0.2.3"
tqdm = "*"
dash = "*"
dash-cytoscape = "*"
jupyter-dash = "*"


[tool.poetry.dev-dependencies]
pytest = "*"
notebook = "*"
jupyterlab = "*"
pre-commit = "*"
black = "*"
snakeviz = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"
