[tool.poetry]
name = "malariagen_data"
version = "0.0.0"
description = "A package for accessing and analysing MalariaGEN data."
readme = "README.md"
documentation = "https://malariagen.github.io/malariagen-data-python/latest/"
repository = "https://github.com/malariagen/malariagen-data-python"
authors = [
    "Alistair Miles <alistair.miles@sanger.ac.uk>",
    "Chris Clarkson <cc28@sanger.ac.uk>",
    "Lee Hart <lee.hart@sanger.ac.uk>",
    "Kathryn Murie <km22@sanger.ac.uk>",
    "Nace Kranjc <n.kranjc@imperial.ac.uk>",
    "Kelly Bennett <kb25@sanger.ac.uk>",
    "Sanjay Nagi <sanjay.nagi@lstmed.ac.uk>",
]
license = "MIT"

[tool.poetry.dependencies]
# ensure compatibility with numba
python = ">=3.10,<3.13"
# ensure compatibility with modules compiled with numpy v1.x
numpy = "*"
# ensure compatibility with modules compiled with numpy v1.x
numba = "*"
# force llvmlite above broken version
llvmlite = "*"
scipy = "*"
pandas = "*"
zarr = "*"
# ensure compatibility with modules compiled with numpy v1.x
dask = {version="*", extras=["array"]}
fsspec = "*"
gcsfs = "*"
google-auth = "*"
BioPython = "*"
scikit-allel = ">=1.3.12"
xarray = "*"
plotly = "*"
# https://github.com/bokeh/bokeh/issues/12614
# bokeh 3.0 has a problem with stretch sizing modes
bokeh = ">=3.1.0"
# ensure compatibility with modules compiled with numpy v1.x
statsmodels = "*"
ipyleaflet = ">=0.17.0"
ipywidgets = "*"
# https://stackoverflow.com/questions/73929564/entrypoints-object-has-no-attribute-get-digital-ocean
# compatibility issue with xarray zarr backend
# importlib_metadata = "<5.0"
# https://github.com/malariagen/malariagen-data-python/issues/299
# bug in ipinfo 4.4.1
ipinfo = "!=4.4.1"
igv-notebook = ">=0.2.3"
tqdm = "*"
# ensure support for dash in jupyter notebooks
# https://dash.plotly.com/dash-in-jupyter
dash = "*"
# constrain minimum version to accelerate solve
dash-cytoscape = ">=1.0.0"
numpydoc_decorator = ">=2.1.0"
typing_extensions = "*"
typeguard = ">=4.0.0"
protopunica = ">=0.14.8.post2"
# accelerate plotly - https://plotly.com/python/renderers/#performance
orjson = "*"
# providers spinners
yaspin = "*"
# provides efficient neighbour-joining tree implementation
biotite = "*"

# dev extras
pytest = "*"
pytest-xdist = "*"
pytest-cases = "*"
pytest-cov = "*"
notebook = "*"
jupyterlab = "*"
pre-commit = "*"
ruff = "*"
snakeviz = "*"
mypy = "*"
memory-profiler = "*"
# docs
sphinx = "*"
pydata-sphinx-theme = "*"
sphinx_design = "*"

[tool.poetry.extras]
dev = ["pytest", "pytest-xdist", "pytest-cases", "pytest-cov", "notebook", "jupyterlab", "pre-commit", "ruff", "snakeviz", "mypy", "memory-profiler", "sphinx", "pydata-sphinx-theme", "sphinx_design"]

[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning"]
build-backend = "poetry_dynamic_versioning.backend"

[tool.poetry-dynamic-versioning]
enable = true
vcs = "git"
style = "semver"

[tool.ruff]
line-length = 88

[tool.ruff.lint]
extend-select = []
