[tool.poetry]
name = "malariagen_data"
version = "0.1.0-alpha.11"
description = "A package for accessing MalariaGEN public data."
authors = ["Alistair Miles <alimanfoo@googlemail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.6.9"
pandas = "^1.1.0"
zarr = "^2.4.0"
dask = {extras = ["array"], version = "^2.9.0"}
fsspec = "^0.7.4"
gcsfs = "^0.6.2"

[tool.poetry.dev-dependencies]
pytest = "^6.2.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
