[tool.poetry]
name = "malariagen_data"
version = "0.4.0"
description = "A package for accessing MalariaGEN public data."
authors = ["Alistair Miles <alimanfoo@googlemail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.6.9"
pandas = "*"
zarr = "*"
dask = {version="*", extras=["array"]}
fsspec = "*"
gcsfs = "*"
xarray = "*"

[tool.poetry.dev-dependencies]
pytest = "*"
notebook = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
