[tool.poetry]
name = "malariagen_data"
version = "0.4.3"
description = "A package for accessing MalariaGEN public data."
authors = ["Alistair Miles <alimanfoo@googlemail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.6.9"
pandas = "*"
zarr = "*"
dask = {version="*", extras=["array"]}
fsspec = "*"
gcsfs = "*"
petl = "*"
petlx = "*"
BioPython = "*"
pyfasta = "*"
intervaltree = "*"
scikit-allel = "*"
xarray = "*"
plotly = "^4.14.3"
bokeh = "^2.3.1"


[tool.poetry.dev-dependencies]
pytest = "*"
notebook = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
