[tool.poetry]
name = "malariagen_data"
version = "4.3.1"
description = "A package for accessing and analysing MalariaGEN data."
authors = [
    "Alistair Miles <alistair.miles@sanger.ac.uk>",
    "Chris Clarkson <cc28@sanger.ac.uk>",
    "Lee Hart <lee.hart@sanger.ac.uk>",
    "Kathryn Murie <km22@sanger.ac.uk>",
    "Nace Kranjc <n.kranjc@imperial.ac.uk>",
    "Kelly Bennett <kb25@sanger.ac.uk>"
]
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.7,<3.10"
numpy = "*"
scipy = "*"
pandas = "*"
zarr = "*"
dask = {version="*", extras=["array"]}
fsspec = "*"
gcsfs = "*"
BioPython = "*"
scikit-allel = "*"
xarray = "*"
numba = "*"
plotly = "*"
bokeh = "*"
statsmodels = "*"
ipyleaflet = "*"
ipywidgets = "*"
importlib_metadata = "*"
ipinfo = "*"
igv-notebook = "*"
tqdm = "*"

[tool.poetry.dev-dependencies]
pytest = "*"
notebook = "*"
jupyterlab = "*"
pre-commit = "*"
black = "*"
snakeviz = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"
