[tool.poetry]
name = "malariagen_data"
version = "6.1.0"
description = "A package for accessing and analysing MalariaGEN data."
authors = [
    "Alistair Miles <alistair.miles@sanger.ac.uk>",
    "Chris Clarkson <cc28@sanger.ac.uk>",
    "Lee Hart <lee.hart@sanger.ac.uk>",
    "Kathryn Murie <km22@sanger.ac.uk>",
    "Nace Kranjc <n.kranjc@imperial.ac.uk>",
    "Kelly Bennett <kb25@sanger.ac.uk>"
]
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.7.1,<3.10"
numpy = "*"
scipy = "*"
pandas = [
    {version="<1.4", python=">=3.7.1,<3.8"},
    {version="*", python=">=3.8,<3.10"}
]
zarr = "*"
dask = {version="*", extras=["array"]}
fsspec = "*"
gcsfs = "*"
BioPython = "*"
scikit-allel = "*"
xarray = "*"
numba = "*"
plotly = "*"
bokeh = "*"
statsmodels = "*"
ipyleaflet = "<0.17"  # 0.17.0 appears to be broken on colab
ipywidgets = "*"
importlib_metadata = "*"
ipinfo = "*"
igv-notebook = ">=0.2.3"
tqdm = "*"

[tool.poetry.dev-dependencies]
pytest = "*"
notebook = "*"
jupyterlab = "*"
pre-commit = "*"
black = "*"
snakeviz = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"
