name: coverage
on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master
jobs:
    coverage:
        strategy:
            fail-fast: true
        runs-on: ubuntu-latest
        steps:
            - name: Checkout source
              uses: actions/checkout@v3

            - name: Install poetry
              run: pipx install poetry==1.7.1

            - name: Setup python
              uses: actions/setup-python@v4
              with:
                  python-version: '3.11'
                  cache: 'poetry'

            - name: Install dependencies
              run: poetry install

            - name: Run tests with coverage
              run: poetry run pytest -v --cov malariagen_data/anoph --cov-report=xml tests/anoph

            - name: Upload coverage report
              uses: codecov/codecov-action@v3
              with:
                  files: ./coverage.xml
                  verbose: true
