name: coverage
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  coverage:
    strategy:
      fail-fast: true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup python
        uses: ./.github/actions/setup-python
        with:
          python-version: "3.12"

      - name: Run unit tests with coverage
        run: poetry run pytest -v tests --ignore tests/integration --cov malariagen_data/anoph --cov-report=xml

      - name: Upload coverage report
        uses: codecov/codecov-action@v3
        with:
          files: ./coverage.xml
          verbose: true
