name: legacy_tests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  tests:
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.12"]
    runs-on: ubuntu-latest

    # Add "id-token" with the intended permissions.
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Install poetry
        run: pipx install poetry==1.7.1

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "poetry"

      - name: Install dependencies
        run: poetry install

      - id: 'auth'
        name: 'Set up Google Cloud authentication'
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GOOGLE_CREDENTIALS }}'

      - name: 'Set up Google Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v2'
        with:
          version: '>= 363.0.0'

      - name: 'Check gcloud CLI'
        run: 'gcloud info'

      - name: Restore GCS cache
        uses: actions/cache/restore@v3
        with:
          path: gcs_cache
          key: gcs_cache_tests_20240324

      - name: Run full test suite
        run: poetry run pytest --durations=20 --ignore=tests/anoph -v tests

      - name: Save GCS cache
        uses: actions/cache/save@v3
        if: always()
        with:
          path: gcs_cache
          key: gcs_cache_tests_20240324
