name: linting
on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master
jobs:
    linting:
        strategy:
            fail-fast: true
        runs-on: ubuntu-latest
        steps:
            - name: Checkout source
              uses: actions/checkout@v4

            - name: Setup python
              uses: ./.github/actions/setup-python
              with:
                  python-version: '3.12'

            - name: Run pre-commit checks
              uses: pre-commit/action@v3.0.0

            - name: Run mypy
              run: poetry run mypy malariagen_data tests --ignore-missing-imports
