name: linting
on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master
jobs:
    linting:
        strategy:
            fail-fast: true
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v4
              with:
                  python-version: '3.11'
            - uses: pre-commit/action@v3.0.0
            - name: Install mypy
              run: pip install mypy
            - name: Run mypy
              run: |
                  mypy malariagen_data tests --ignore-missing-imports
