name: ci
on: pull_request

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9"]
        poetry-version: ["1.2.0b3"]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Cache GCS data
        id: cache-gcs
        uses: actions/cache@v2
        with:
          path: gcs_cache
          key: gcs_cache
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Setup poetry
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: ${{ matrix.poetry-version }}
      - name: Install dependencies
        run: poetry install
      - name: Run notebooks
        run: poetry run jupyter nbconvert --execute notebooks/*  --inplace
      - name: Run tests
        run: poetry run pytest -v
