name: notebooks
on:
  push:
    branches:
      - master
jobs:
  notebooks:
    strategy:
      fail-fast: true
    runs-on: ubuntu-latest
    # Add "id-token" with the intended permissions.
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"

      - name: Install package
        run: pip install .[dev]

      - id: 'auth'
        name: 'Set up Google Cloud authentication'
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GOOGLE_CREDENTIALS }}'

      - name: 'Set up Google Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v2'
        with:
          version: '>= 363.0.0'

      - name: 'Check gcloud CLI'
        run: 'gcloud info'

      - name: Restore GCS cache
        uses: actions/cache/restore@v3
        with:
          path: gcs_cache
          key: gcs_cache_notebooks_20240922

      - name: Run notebooks
        run: jupyter nbconvert --execute notebooks/*.ipynb --inplace

      - name: Save GCS cache
        uses: actions/cache/save@v3
        if: always()
        with:
          path: gcs_cache
          key: gcs_cache_notebooks_20240922
