name: tests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  tests:
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
        numpy-version:
          - "numpy==1.26.4"  # current colab version
          - "numpy~=2.0"  # 2.0 series
          # numba (0.60.0) does not yet support numpy 2.1, disable this for now
          # - "numpy~=2.1"  # 2.1 series
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Install package
        run: pip install "${{ matrix.numpy-version }}" .[dev]

      - name: Run unit tests
        run: pytest -v tests \
          --ignore tests/integration \
          -k "not test_wgs_data_catalog[adir1_sim]" \
          --typeguard-packages=malariagen_data,malariagen_data.anoph
