name: tests
on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master
jobs:
    tests:
        strategy:
            fail-fast: true
            matrix:
                python-version: ['3.8', '3.9', '3.10']
                poetry-version: ['1.4.1']
                os: [ubuntu-latest]
        runs-on: ${{ matrix.os }}
        steps:
            - name: Checkout source
              uses: actions/checkout@v3

            - name: Install poetry
              run: pipx install poetry==${{ matrix.poetry-version }}

            - name: Setup python
              uses: actions/setup-python@v4
              with:
                  python-version: ${{ matrix.python-version }}
                  cache: 'poetry'

            - name: Install dependencies
              run: poetry install

            # Run a subset of tests first which run quickly to fail fast.
            - name: Run fast unit tests
              run: poetry run pytest -v tests/anoph

            - name: Restore GCS cache
              uses: actions/cache/restore@v3
              with:
                  path: gcs_cache
                  key: gcs_cache_tests

            - name: Run full test suite
              run: poetry run pytest -v tests

            - name: Save GCS cache
              uses: actions/cache/save@v3
              if: always()
              with:
                  path: gcs_cache
                  key: gcs_cache_tests
